@import "catalog/view/javascript/bootstrap/scss/bootstrap-grid"
@import "mixins/mixin.scss"
@import "mixins/mixins"
@import "fonts"
@import "vars"

header
	height: 100vh
	position: relative
	background-image: url(/image/header.jpg)
	background-size: cover
	background-position: center
.layout
	position: absolute
	left: 0
	top: 0
	background: rgba(225,225,225,0.7)
	width: 100%
	height: 100%
.center
	text-align: center
.h-100
	height: 100%
.product-thumb
	background-color: #fff
	color: #222
#accordion, #checkout-checkout h2
	color: #222